@import url("https://fonts.googleapis.com/css2?family=Cardo&family=El+Messiri:wght@500&family=Grenze+Gotisch:wght@100&family=Josefin+Sans:wght@300&family=Pacifico&family=Spartan:wght@300&display=swap");

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar-brand {
	font-size: 1.5rem;
	font-family: "Pacifico";
	text-shadow: 2px 2px 2px #000000;
}

footer,
.nav-link {
	font-family: "Josefin Sans";
	font-size: 1.1rem;
}

.nav-link:hover {
	/* border-top: 1px solid white; */
	border-radius: 15px;
}

h1 {
	font-family: "El Messiri";
	text-shadow: 2px 2px 2px black;
}

.list-group-item {
	color: white;
	text-shadow: 1px 1px black;
	border-bottom: 2px solid #932432;
	font-family: "Spartan";
	border-radius: 15px;
}

.middle {
	border-left: 7px solid #932432;
	border-right: 7px solid #932432;
	border-radius: 15px;
}

.active,
.oneAudio:hover {
	background-color: rgba(147, 36, 50, 0.5);
	/* border-radius: 15px; */
	cursor: pointer;
}

.dropdown-item:active {
	background-color: #932432;
}

progress[value] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 0;
	min-width: 100%;
	height: 10px;
	border-radius: none;
}

progress[value]::-webkit-progress-bar {
	background-color: #212529;
	border: 2px solid black;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

progress[value]::-moz-progress-bar {
	background-color: #212529;
	border: 2px solid black;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

progress[value]::-webkit-progress-value {
	background-color: #932432;
}

#player-play,
#player-prev,
#player-next {
	font-size: 3vw;
	cursor: pointer;
}

#player-card,
#player-image {
	border-radius: 50px;
}

.artists {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.artist-item {
	position: relative;
	flex-basis: calc(24% - 20px);
	margin: 15px;
}

@media (max-width: 1200px) {
	.artist-item {
		flex-basis: calc(25% - 20px);
	}
}

@media (max-width: 992px) {
	.artist-item {
		flex-basis: calc(33.33% - 20px);
	}
}

@media (max-width: 768px) {
	.artist-item {
		flex-basis: calc(40% - 20px);
	}
}

@media (max-width: 576px) {
	.artist-item {
		flex-basis: calc(100% - 20px);
	}
}

.img-wrap {
	width: 100%;
	height: 20%;
	padding-top: calc(100% + 150px);
	overflow: hidden;
}

.artist-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-name {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	color: white;
	font-size: 18px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.img-name-bg {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
}

.img-wrap:hover .img-name {
	opacity: 1;
	pointer-events: auto;
}

.artist-show h1 {
	font-family: "Grenze Gotisch";
	text-shadow: 3px 5px 2px #932432;
}

.artist-show img {
	height: 70vh;
	width: 90%;
	object-fit: cover;
	border: 5px inset #932432;
	border-radius: 25px;
}

.artist-show p {
	text-align: justify;
	font-family: "Cardo";
	font-size: 20px;
}

.st-elem {
	z-index: 1;
	top: 70px;
}
