<% layout("./layouts/boilerplate") %>
<div class="card-group row row-cols-auto row-cols-lg-5 row-cols-md-3 row-cols-sm-2">
    <% for(let artist of artists) { %>
	<div class="col mb-3">
        <div class="card mx-2 border border-danger bg-dark img-wrap">
            <a href="/artists/<%= artist._id %>">
                <img id="showArtImg" src="<%= artist.image %>" class="card-img-top img" />
                <p class="img-name"><%= artist.name %></p>
            </a>
        </div>
    </div>
    <% } %>
</div>
