<% layout("./layouts/boilerplate") %>
<div class="artists">
	<% for(let artist of artists) { %>
	<div class="artist-item">
		<div class="img-wrap">
            <a class="" href="/artists/<%= artist._id %>">
                <img
                    class="artist-img"
                    src="<%= artist.image %>"
                ></img>
                <p class="img-name">
                    <span class="img-name-bg">
                        <%= artist.name %>
                    </span>
                </p>
            </a>
        </div>
	</div>
	<% } %>
</div>
